.form-container{

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form-main{

  width: 300px;
  padding: 8px;
  border: 1px solid red;
  margin-bottom: 20px;
}
label{

  width: 100%;
  padding: 8px;

}
input{

  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 20px;

}
button{
  background-color: blue;
  color: aliceblue;
  width: 100%;
  border:none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;

}
button:hover{
  background-color: blueviolet;
}